{% extends 'base.html.twig' %}

{% block title %}View Offer{% endblock %}

{% block body %}
    <h1>View Offer</h1>
    {% block main %}
        <h3>Presentation - Some nice words from the founders</h3>
        <p>'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto asperiores autem blanditiis
        consequuntur doloremque eligendi facere illo illum incidunt ipsam iste itaque labore laborum magnam minima minus
        modi natus nesciunt quaerat qui quidem, reiciendis repudiandae suscipit temporibus vero voluptas voluptates?
        </p>

        <table border="1" style="width: 100%;">
            <thead>
            <h3>title</h3>
            <tr>
                <td>picture_path</td>
                <td>description</td>
                <td>created_at</td>
                <td>username</td>
                <td>canton_id_id</td>
                <td>email to at: </td>
            </tr>
            </thead>
            <tbody>
                {% for offer in offers %}
                    {{ offer.getTitle() }}
                    <tr>
                        <td><img src="{{path ('get_picture_content', {'picture':offer.getID()}) }} alt="Food Image" height="200" width="200""></td>
                        <td>{{ offer.getDescription() }}</td>
                        <td>{{ offer.getCreatedat |date('Y-m-d') }}</td>
                        <td>{{ offer.getSharerId.getUsername()}}</td>
                        <td>{{ offer.getCantonId() }}</td>
                        <td><a href="mailto:{{ offer.getSharerId.getEmail() }}">emailLink</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}

{% endblock %}