{% extends 'base.html.twig' %}
{% block title %}View Offer{% endblock %}

{% block body %}
    <h2>View Offer</h2>
    <section id="mainContent">
        {% for offer in offers %}
            <article>
                <h3>{{ offer.getTitle }}</h3>
                <img style="width:270px; height: 230px; border: 1px solid black;" src="{{ path('get_picture_content', {'picture': offer.getId()}) }}" alt="">
                <p><span>From User: </span>{{ offer.getSharerId().getUsername() }}</p>
                <p><span>In Canton: </span>{{ offer.getCantonId() }}</p>
                <p><span>Description: </span>{{ offer.getDescription }}</p>
                <p><span>Created At: </span>{{ offer.getCreatedAt | date('Y-m-d') }}</p>
                <h5>Contact Details</h5>
                <p><span>E-Mail Address: </span>{{ offer.getSharerId().getEmail }}</p>
                <p><span>Telephone Number: </span>{{ offer.getSharerId().getTelephone }}</p>
            </article>
        {% endfor %}
    </section>

{% endblock %}