{% extends 'base.html.twig' %}
{% block title %}Offer Overview{% endblock %}

{% block body %}
    <section id="mainContent">
        <h2>Overview</h2>
        {% for offer in offers %}
            <article>
                <h3 style="text-align: center; margin-bottom:20px;">{{ offer.getTitle }}</h3>
                <img style="width:410px; height: 360px; border: 1px solid #5a3921; display:block; border-radius:10px; margin: 0 auto 10px auto;" src="{{ path('get_picture_content', {'picture': offer.getId()}) }}" alt="">
                <p style="overflow-wrap:break-word; text-align: center; margin-bottom:60px;">{{ offer.getDescription }}</p>
                <p><span>From User: </span>{{ offer.getSharerId().getUsername() }}</p>
                <p><span>In Canton: </span>{{ offer.getCantonId() }}</p>
                <p style="border-bottom: 1px dotted black;"><span>Created At: </span>{{ offer.getCreatedAt | date('Y-m-d') }}</p>
                <h5 style="text-align:center; color:#5a3921;">Contact Details</h5>
                <p><span>E-Mail Address: </span><a href="mailto:{{ offer.getSharerId().getEmail }}">{{ offer.getSharerId().getEmail() }}</a></p>
                <p><span>Telephone Number: </span>{{ offer.getSharerId().getTelephone }}</p>
                <a class="twitter-share-button sharebutton" style="text-align: center;"
                   href="https://twitter.com/intent/tweet?text=Check%20out%20this%20offer%20#foodsharing">
                    Tweet</a>
            </article>
        {% endfor %}
        <a href="{{ path('homepage') }}" class="content"><button style="margin:10px 0 10px 10px;" type="button" class="btn btn-outline-info">Go back</button></a>
    </section>

{% endblock %}