{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Homepage{% endblock %}

{% block body %}
    <h1>Food4Share</h1>
    <!-- FILTER OPTIONS START -->
    <section id="filterBar">
        <form action="">
            <label for="filterCanton">Filter by Canton</label>
            <select name="cantonID" id="filterCanton">
                <option value="1">Capellen</option>
                <option value="2">Clervaux</option>
                <option value="3">Diekirch</option>
                <option value="4">Echternach</option>
                <option value="5">Esch-sur-Alzette</option>
                <option value="6">Grevenmacher</option>
                <option value="7">Luxembourg</option>
                <option value="8">Mersch</option>
                <option value="9">Redange</option>
                <option value="10">Remich</option>
                <option value="11">Vianden</option>
                <option value="12">Wiltz</option>
            </select>
            <button id="filterBtn" data-target="{{ path("reloadContent", {cantonID: '__cantonID__'}) }}">Filter</button>
            <button id="resBtn">Reset</button>
        </form>
    </section>
    <ul id="filterList">

    </ul>
    <!-- END FILTER OPTIONS -->
    <section>
        {% for offer in offers %}
        <article>
            <ul class="content">
                <li>
                    <h3 class="content">{{ offer.getTitle() }}</h3>
                    <p class="content">{{ offer.getDescription() }}</p>
                    <p class="content"><span>Created at: </span>{{ offer.getCreatedAt | date('Y-m-d') }}</p>
                    <a href="offer/{{ offer.getId }}" class="content">View</a>
                </li>
            </ul>
        </article>
        {% endfor %}
    </section>
{% endblock %}