{% block body %}
{% for offer in offers %}
<article class="col-md-5">
    <h3>{{ offer.getTitle() }}</h3>
    <a href="offer/{{ offer.getId }}"><img style="width:390px; height: 310px; border: 1px solid black; border-radius:10px;" src="{{ path('get_picture_content', {'picture': offer.getId()}) }}" alt=""></a>
    <p>{{ offer.getDescription() }}</p>
    <p class="content"><span style="font-weight: bold;">Canton: </span>{{ offer.getCantonId().getCantonname }}</p>
    <p><span style="font-weight: bold;">Created at: </span>{{ offer.createdAt() | date('Y-m-d') }}</p>
    <p><span style="font-weight: bold;">Offered by: </span>{{ offer.getSharerId().getUsername() }}</p>
    <a href="offer/{{ offer.getId }}">View</a>
</article>
{% endfor %}

{% endblock %}