{% extends 'base.html.twig' %}

{% block title %}Admin Panel{% endblock %}

{% block body %}
    <h1>Administrate All</h1>
    <section id="mainContent">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h2>Offer Overview</h2>
                {% for offer in offers | reverse %}
                    <h5>{{ offer.getTitle() }}</h5>
                    <p><a href="offer/{{ offer.getId }}"><button type="button" class="btn btn-outline-primary">View</button></a>
                    <a href="admConsole/del/{{ offer.getId }}"><button type="button" class="btn btn-outline-danger">Delete</button></a></p>
                    <a href="admConsole/EditOffer/{{ offer.getId }}"><button type="button" class="btn btn-outline-dark">Edit</button></a>
                    <hr>
                {% endfor %}
                </div>
                <div class="col-6">
                    <h2>User Overview</h2>
                {% for user in users %}
                    <h5>{{ user.getUsername() }}</h5>
                    <p><span style="font-weight:bold;">E-Mail: </span>{{ user.getEmail() }}</p>
                    <p><span style="font-weight:bold;">Lastname: </span>{{ user.getLastname() }}</p>
                    <p><span style="font-weight:bold;">Firstname: </span>{{ user.getFirstname() }}</p>
                    <p><span style="font-weight:bold;">Telephone: </span>{{ user.getTelephone() }}</p>
                    <a href="admConsole/delUser/{{ user.getId }}"><button type="button" class="btn btn-danger">Delete</button></a>


                    <hr>
                {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}