<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Restore Password</title>
</head>
<body>
<h1>{{ 'MAIL.RESTORE.TITLE'|trans }}</h1>

<p>{{ 'MAIL.RESTORE.INFO'|trans({'%name%': user.getUsername()}) }}</p>

<p>
    {{ 'MAIL.RESTORE.HTML.LINK.INFO'|trans }}
    <a href="{{ url('restore_password', {'token': user.getActiveToken()}) }}">
        {{ 'MAIL.RESTORE.HTML.LINK.LABEL'|trans }}
    </a>
<p>
</body>
</html>