{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>My Offers</h1>
    <section>
        {% for offer in offers %}
            <article>
                <ul class="content">
                    <li>
                        <h3 class="content">{{ offer.getTitle() }}</h3>
                        <p class="content">{{ offer.getDescription() }}</p>
                        <p class="content"><span>Created at: </span>{{ offer.getCreatedAt | date('Y-m-d') }}</p>
                        <a href="offer/{{ offer.getId }}" class="content">View</a>
                        <a href="MyOffers/del/{{ offer.getId }}">Delete</a></p>
                        <a href="MyOffers/EditOffer/{{ offer.getId }}">Edit</a>
                    </li>

                </ul>
            </article>
        {% endfor %}


    </section>


{% endblock %}