<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/v4-shims.css">
</head>

<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Food4Share</h5>
                <p>Your plateform to share your leftover food, help us to fight food waste! Contribute to save our planet and reduce your ecological footprint! </p>
                <!-- Call to action -->
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% else %}
                    <ul class="list-unstyled list-inline ">
                        <li class="list-inline-item">
                            <h5 class="mb-1">Register for free</h5>
                        </li>
                        <li class="list-inline-item">
                            <a href="{{ path ('app_register') }}" class="btn btn-success btn-rounded">Sign up!</a>
                        </li>
                    </ul>
                {% endif %}
                <!-- Call to action -->
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Social</h5>

                <ul class="list-unstyled">
                    <li>
                        <i class="fab fa-facebook-f">
                            <a href="https://www.facebook.com/" target="_blank">Facebook</a>
                        </i>
                    </li>
                    <li>
                        <i class="fab fa-instagram">
                            <a href="http://www.instagram.com" target="_blank">Instagram</a>
                        </i>
                    </li>
                    <li>
                        <i class="fab fa-linkedin-in">
                            <a href="https://www.linkedin.com" target="_blank">LinkedIn</a>
                        </i>
                    </li>
                    <li>
                        <i class="fab fa-twitter">
                            <a href="https://twitter.com/" target="_blank">Twitter</a>
                        </i>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact</h5>

                <ul class="list-unstyled">
                    <li>
                        <i class="fas fa-headset">
                            <a href="https://www.numericall.fr/" target="_blank">Support</a>
                        </i>
                    </li>
                    <li>
                        <i class="fas fa-paper-plane">
                            <a href="mailto:webmaster@example.com?subject=Feedback from visitor&body=Hi,I found your website and love it">Mail</a>
                        </i>
                    </li>
                    <li>
                        <address>
                            Dream team<br>
                            7, Technoport
                            LUXEMBOURG
                        </address>
                    </li>
                    <li>
                        <i class="fas fa-map-marked-alt">
                            <a href="http://www.technoport.lu/online/www/function/accessmap/54/contentContainer/236/4365/ENG/AccessMapEsch2016_visitors.pdf" target="_blank">Acess Map</a>
                        </i>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Legal</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="{{ path ('terms') }}">Terms</a>
                    </li>
                    <li>
                        <a href="{{ path ('impressum') }}">Impressum</a>
                    </li>
                    <li>
                        <a href="{{ path ('app_about') }}">About</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <hr>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="{{ path ('terms') }}">Food4Share Team JYAD</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
